# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Virtual Environments
# ==========================
.venv/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing / Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak
*.swp